.modal{
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1000;
}

.child{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.child .closeBtn{
    position: absolute;
    top: 2px;
    right: 2px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.child .closeBtn:hover{
    opacity: .6;
}
.child .closeBtn div{
    position: absolute;
    width: 2px;
    height: 11px;
    background-color: #fff;
    transform: rotate(45deg);
}
.child .closeBtn div:after{
    position: absolute;
    content: '';
    width: 2px;
    height: 11px;
    background-color: #fff;
    transform: rotate(90deg);
}