.warner{
    background: #fff;
    width: 370px;
    box-shadow: 2px 2px 3px 2px #000;
}

.warner-title{
    font-size: 1.2rem;
    padding: 10px;
    display: flex;
    align-items: center;
}

.warner-title div{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: var(--static-theme);
    background: rgba(95, 223, 223, 0.379);
}

.warner-title div h1{
    font-size: 2rem;
    font-weight: bold;
}

.warner-title h2{
    font-size: 1.5rem;
    font-weight: bold;
}

.warner-body{
    padding: 20px 10px 20px 10px;
    border: 1px 
}

.warner-actions{
    background: rgba(171, 171, 171, 0.167);
    padding: 20px 10px;
    display: flex;
    justify-content: flex-end;
}

.warner-actions button{
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}
.warner-actions button:focus{
    border: 2px solid rgb(3, 3, 118);
    outline: none;
}
.warner-actions button:nth-child(1){
    background: var(--static-theme);
    color: #fff;
    font-weight: bold;
}

.warner-actions button:nth-child(2){
    background: red;
    color: #fff;
    font-weight: bold;
}